<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <title>RPC</title>
</head>
<body>
    <a href="/"class="btn btn-primary">На главную</a>
    <main class="container"style="width: 300px">
  <form method="post">
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="NAME_PC" id="NAME_PC" placeholder="Имя PC" ><br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="IP" id="IP" placeholder="ip адрес"><br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="MAC" id="MAC" placeholder="MAC адрес"><br>
        <input class="btn btn-success" type="submit" style="margin: auto" value="Отправить">

  </form>
        </main>
</body>
</html>